@page
@model PortfolioWebsite.Pages.ForebloomedModel
@{
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/ProjectPage.css">
</head>
<body>
    <header>
        <h1>Forebloomed</h1>
    </header>

    <section id="projectDetails">
        <p>
            An action rogue-like about garden plants fighting back against the hungry pests that threaten their home. <br>
            Spend the day blasting through hedges to find loot, but take care to make it back before dark! <br>
            Gather synergistic items, confront formidable bosses, and play as several unique characters! <br>
            <br>
            Developed in Unity with C# over 2 months and further updated over 2 years. <br>
            I took on the roles of the programmer, artist, sfx artist, marketing manager and community manager. I hired a composer to create the music. <br>
            <br>
            During development I solved various technical challenges, I used boids and A* pathfinding to create AI entities. <br>
            Bezier curves were used to create satisfying arcs for gold and other pickups. <br>
            Procedural generation was used to generate near-infinite terrain which could be fully explored by the player. <br>
            <br>
            The game initially launched on itch.io but really took off once it released on CrazyGames.com. <br>
            As of 02/2024 the game has reached over 200,000 plays across all platforms and has received very positive ratings. <br>
            <br>
            (9.0 / 10.0) on CrazyGames <br>
            (4.1 / 5.0) on Itch.io <br>
            (7 / 8 Positive) on Steam
        </p>
        <div id="links">
            <h3>Links</h3>
            <p>
                <a href="https://store.steampowered.com/app/2589990/Forebloomed_Evergreen_Edition/" target="_blank">Forebloomed on Steam Page</a> <br>
                <a href="https://www.crazygames.com/game/forebloomed" target="_blank">Forebloomed on Crazy Games</a> <br>
                <a href="https://cloudy2021.itch.io/forebloomed" target="_blank">Forebloomed on Itch.io</a> <br>
                <a href="https://github.com/CloudyUnity/Forebloomed" target="_blank">Github Repo</a>
            </p>
        </div>

        <div id="imageGallery">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/xwo18-rOEKA" frameBorder="0" allowfullscreen></iframe>
            <img src="/Assets/1.png">
            <img src="/Assets/2.png">
            <img src="/Assets/3.png">
            <img src="/Assets/6.png">
        </div>
    </section>
</body>
</html>
