@page
@model PortfolioWebsite.Pages.Projects2Model
@{
    ViewData["Title"] = "Projects2";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <h1>@ViewData["Title"]</h1>
    <canvas id="metaballsCanvas"></canvas>
    <script>
        let mousePosition = { x: 0, y: 0 };
        function updateCursorPosition(event) {
            mousePosition = { x: event.clientX, y: event.clientY - 60 };
        }
        document.addEventListener('mousemove', updateCursorPosition);

        const canvas = document.getElementById('metaballsCanvas');
        canvas.width = window.innerWidth;
        canvas.height = (window.innerHeight - 60);

        var count = 8;
        const metaballsClusters = [
            { x: 100, y: 100, count: count, metaballs: [], ref: "/Projects", name: "Return", newTab: false },
            { x: 100, y: canvas.height - 100, count: count, metaballs: [], ref: "/Projects2", name: "Portfolio Site", newTab: false },
            { x: canvas.width - 150, y: 100, count: count, metaballs: [], ref: "/Projects2", name: "Magpies!", newTab: false },
            { x: canvas.width - 150, y: canvas.height - 100, count: count, metaballs: [], ref: "/Projects2", name: "WrightARM", newTab: false }
        ];
    </script>

    <script src="~/js/Metaballs.js"></script>

    <div id="fpsCounter" style="position: fixed; top: 10px; left: 10px; background-color: rgba(0, 0, 0, 0.5); color: #fff; padding: 5px;"></div>
    <script src="~/js/FPS.js"></script>
</body>
</html>
